<div class="container">
    <h1 class="main-title">Choose your Algorithm</h1>
    <div class="group-visualizer-img">
        <div class="visualizer-img">
            <a href ="/future">
                <div class="img-container">
                    <img src="/assets/img/lavender.jpg">
                </div>
            </a>
            <div class="img-info">
                <b>Project</b><br>
                In future
            </div>                
        </div>
        
        <div class="visualizer-img">
            <a href ="/searching">
                <div class="img-container">
                    <img src="/assets/img/searching-algorithm-intro.png" />
                </div>
            </a>
            <div class="img-info">
                <b>Searching Algorithm</b><br>
                Pathfinding on 2D grid
            </div>                
        </div>

        <div class="visualizer-img">
            <a href ="/future">
                <div class="img-container">
                    <img src="/assets/img/lavender.jpg">
                </div>
            </a>
            <div class="img-info">
                <b>Project</b><br>
                In future
            </div>                
        </div>
    </div>
</div>