<div class="container">
<h1 class="main-title">Searching Algorithm</h1>
<nav class="algo-grid">
    <a href="/searching/bfs" class="upper">
        <p>Breadth-First Search <br> (BFS)</p>
    </a>
    <a href="/searching/dfs" class="upper">
        <p>Depth-First Search <br> (DFS)</p>
    </a>
    <a href="/searching/ucs" class="upper">
        <p>Uniform Cost Search <br> (UCS)</p>
    </a>
    <a href="/searching/a-star" class="upper">
        <p>A* <br> (A-star)</p>
    </a>
    <a href="/searching/iddfs" class="lower">
        <p>Iterative Deepening DFS <br> (IDDFS)</p>
    </a>
    <a href="/searching/ida-star" class="lower">
        <p>Iterative Deepening A* <br> (IDA*)</p>
    </a>
    <a href="/searching/beam" class="lower">
        <p>Beam Search</p>
    </a>
    <a href="/searching/bi-direct" class="lower">
        <p>Bi-directional Search</p>
    </a>
</nav>