<div class="container">
    <h1>Comparison of Algorithms</h1>

    <div class="grid-chart">
        <div class="chart-wrapper">
            <canvas id="path-found-chart"></canvas>
        </div>

        <div class="chart-wrapper">
            <canvas id="nodes-chart"></canvas>
        </div>

        <div class="chart-wrapper">
            <canvas id="cost-chart"></canvas>
        </div>

        <div class="chart-wrapper">
            <canvas id="time-chart"></canvas>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>