<div class="container">
<h1 class="main-title">Searching Algorithm</h1>
<div class="content">
    <div class="description">
        <div>
            <h2>Pathfinding on 2D grid Problem</h2>
            <p>
                Pathfinding is generally the process of finding a route between two points. It is closely related to the shortest path problem in graph theory, which examines how to identify the "best" paths valued by different criteria (Ex. distance, cost, time consumption).
                <br><br>
                Pathfinding is also similar to Searching in some circumstances. For instance, we can use [breadth-first search] to find the shortest path in a grid world.
            </p>
        </div>
        
        <a class="btn-play" href="/searching/menu">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <defs>
                    <linearGradient id="play-gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#FFD1E2"/>
                        <stop offset="100%" stop-color="#977DFF"/>
                    </linearGradient>
                </defs>
                <path fill="url(#play-gradient)" d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/>
            </svg>
        </a>
    </div>
    <div class="visualizer-video">
        <div class="video-container">
            <video autoplay loop muted playsinline>
                <source src="/assets/video/searching-algorithm-intro.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>